*{
  margin: 0;
  padding: 0;
}

.schoolElement__container{
  padding-top: 4px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;

  h2{
    color: red;
  }

  .schoolElement__oneBlock{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 8px;
    margin: 4px;
  }

  .schoolElement__pictureWithLink{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .schoolElement__picture{
    display: flex;
    align-items: center;
    margin: 4px;
    // height: 51px;
    border-radius: 4px;
  }

  hr{
    border-style: double;
    border-width: 1px;
    border-color: darkblue;
    margin-top: 4px;
  }

  .schoolElement__text{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .schoolElement__schoolName{
    display: flex;
    justify-content: center;
  }

  .schoolElement__schoolDate{
    display: flex;
    justify-content: center;
  }

  .schoolElement__schoolDate:hover{
    color: #f6980c;
    // box-shadow: 0 16px 36px rgba(246, 152, 12, 0.9);
    transition: background-color 0.3s ease-in;
  }
  .schoolElement__schoolName:hover{
    color: #f6980c;
    // box-shadow: 0 16px 36px rgba(246, 152, 12, 0.9);
    transition: background-color 0.3s ease-in;
  }
}


@media (max-width: 768px) {
  .schoolElement__schoolName{
    font-size: 1.5rem;
  }
  .schoolElement__schoolDate{
    font-size: 1.3rem;
  }
  .schoolElement__picture img{
    width: 5rem;
  }
}