*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: whitesmoke;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 4px;

  h2{
    display: flex;
    justify-content: center;
    color: #369;
    text-transform:uppercase;
    background: url("../../utils/image/big_title_bg.png") center no-repeat;
    cursor: pointer;
  }

  h2:hover{
    color: #f6980c;
    transition: background-color 0.3s ease-in;
  }

  .news__container{
    display: flex;
    padding-top: 24px;
    align-items: center;

    .news__content{
      display: flex;
      flex-direction: column;
      padding-left: 24px;
      padding-right: 12px;

      .news__more{
        display:flex;
        justify-content:flex-end;
        padding-top: 24px;
      }

      .news__more a:hover{
        color: #f6980c;
        // box-shadow: 0 16px 36px rgba(246, 152, 12, 0.9);
        transition: background-color 0.3s ease-in;
      }

      .news__about{
        // display: flex;
        text-align: justify;
      }

      .news__title{
        font-size: 1.5rem;
      }
      .news__title a:hover{
        color: #f6980c;
        // box-shadow: 0 16px 36px rgba(246, 152, 12, 0.9);
        transition: background-color 0.3s ease-in;
      }
    }
  }

  .news__reference{
    display: flex;
    text-align: justify;
    justify-content: center;
    padding-left: 4px;

    .news__date{
      display: flex;
      justify-content: center;
    }

    .news__date:hover{
      color: #f6980c;
      transition: background-color 0.3s ease-in;
      cursor: pointer;
    }
  }

  hr{
    border-style: double;
    border-width: 1px;
    border-color: darkblue;
    margin-top: 4px;
  }

  .news__archive{
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
    margin-top: 32px;
    margin-bottom: 24px;
    font-size: 1.3rem;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
  }

  .news__archive:hover{
    color: #f6980c;
    // box-shadow: 0 16px 36px rgba(246, 152, 12, 0.9);
    transition: background-color 0.3s ease-in;
  }
}

@media (max-width: 768px) {
  .news__date{
    font-size: 1.2rem;
  }
  .news__content{
    font-size: 1.3rem;
  }
  .news__title{
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .news__date{
    font-size: 1.2rem;
  }
  .news__content{
    font-size: 1rem;
  }
  .news__container{
    display: flex;
    flex-direction: column;
  }
  .news__reference{
    padding-bottom: 8px;
  }
}
