.ads_elementLabel{
  display: flex;
  text-align: center;
  color: #369;
  text-transform: uppercase;
  background: url("../../utils/image/big_title_bg.png") no-repeat;
  // padding-left: 100px;
  justify-content: center;
}

.ads_elementDiv{
  padding-top: 24px;
}
