*{
  margin: 0;
  padding: 0;
}

.forumElement{
  padding-top: 24px;
  h2{
    color: red;
  }

  a{
    padding-top: 204px;
    font-size: 2vh;
  }

  hr{
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }

  .forumElement__text{
    display: flex;
    text-align: justify;
    padding-left: 8px;
    padding-right: 8px;
  }

  .forumElement__text:hover{
    color: #f6980c;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }
}
