.right_element{
  background-color: whitesmoke;
  color: aliceblue;
  width: 25%;  
}

.right_elementLabel{
  display: flex;
  text-align: center;
  color: #369;
  text-transform: uppercase;
  background: url("../../utils/image/big_title_bg.png") no-repeat;
  padding-left: 100px;
}
