*{
  margin: 0;
  padding: 0;
}

.container_MenuBar{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.menuBar_logo{
  padding-top: 4px;
  height: auto;
  background: url('head_bg1.png');
  background-size: cover;
  background-position: center;
  // z-index: 1;
  cursor: pointer;
}

.menuBar{
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 78, 154, 1);
  color: aliceblue;
  padding-top: 4px;
  align-items: center;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.picture{
  padding-top: 8px;
  width: 100%;
}

.buttonsUnderPicture{
  display: flex;
  justify-content: space-around;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: aliceblue;

  button{
    background-color: rgb(0, 78, 154, 1);
  }
}

.labelAndSeparator{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 20%;
  align-items: center;
  
  .label{
    width: 90%;
    padding-left: 8px;
  }

  .line{
    padding-left: 4px;
  }

  .label:hover{
    color: #f6980c;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
  }
}


@media (max-width: 768px) {
  .buttonsUnderPicture button{
    font-size: 1.2rem;
  }

  .label{
    font-size: 1.2rem;
  }
}
