*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px dotted violet;
  background-image: url("D:\Developer\snowpro-clone\src\utils\image\bg1.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}
