*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  background-image: url("./utils/image/bg1.png");
  background-size: cover;
  background-position: center;

  .container1{
    display: flex;
    padding-top: 24px;
    // border: thick double rgb(214, 21, 21);
    justify-content: center;
  }
}

.header__sticky{
  position: sticky;
  top: 0;
  z-index: 10;
}

.footer__container{
  padding: 90px 20px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}