*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/utils/image/bg1.png");
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  border: thick double rgb(214, 21, 21);
}
