.left_element{
  background-color: whitesmoke;
  width: calc(100% - 10px);  
}

.left_elementLabel{
  display: flex;
  text-align: center;
  color: #369;
  text-transform:uppercase;
  background: url("../../utils/image/big_title_bg.png") no-repeat;
  // padding-left: 100px;
  justify-content: center;
}
